FIRESTORE_DBS=
GOOGLE_STAGING_CLIENT_ID=
GOOGLE_STAGING_CLIENT_SECRET=
GOOGLE_STAGING_CALLBACK_URL=
GOOGLE_PROD_CLIENT_ID=
GOOGLE_PROD_CLIENT_SECRET=
GOOGLE_PROD_CALLBACK_URL=
APPLE_TEAM_ID=
APPLE_CLIENT_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
