FIRESTORE_DBS=
GITHUB_STAGING_CLIENT_ID=
GITHUB_STAGING_CLIENT_SECRET=
GITHUB_STAGING_CALLBACK_URL=
GITHUB_PROD_CLIENT_ID=
GITHUB_PROD_CLIENT_SECRET=
GITHUB_PROD_CALLBACK_URL=
APPLE_TEAM_ID=
APPLE_CLIENT_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
